
= form_for(User.new, as: :user, url: registration_path(:user)) do |f|
  .signup.text-center.signuemail
    %h4 We’re excited to meet you!
    %p.sub
      Sign up with
      = link_to "Facebook", user_facebook_omniauth_authorize_path
      or
      = link_to "Google", user_google_oauth2_omniauth_authorize_path

    %img.img-responsive.or{:src => image_url("or.png")}/
    .form-group
      = f.text_field :first_name,  :placeholder => "First Name", class: "form-control"
      = f.text_field :last_name,  :placeholder => "Last Name", class: "form-control"
      = f.email_field :email,  :placeholder => "Email", class: "form-control"
      = f.password_field :password,  :placeholder => "Password", class: "form-control"
      = f.text_field :phone,  :placeholder => "Phone", class: "form-control"
      = f.hidden_field :role,  value: "traveller"

      -#%input.form-control{:name => "fname", :placeholder => "First Name", :type => "text"}/
      -#.form-group
      -#  %input.form-control{:name => "lname", :placeholder => "Last Name", :type => "text"}/
      -#.form-group
      -#  %input.form-control{:name => "email", :placeholder => "Email Address", :type => "email"}/
      -#.form-group
      -#  %input.form-control{:name => "password", :placeholder => "Password", :type => "password"}/
      -#.form-group.no-margin-bottom
      -#  %input.form-control{:name => "phone", :number => "", :placeholder => "Phone", :type => "text"}/
      .align-right.needphone
        %p Why do you need my phone number?
      %button.btn.btn-primary{:type => "submit"} Sign up
      .terms
        By signing up, I agree to Bckets’
        %span
          %a{:href => ""} Terms of Service

