.row#agency-signup
  .col-md-4
  .col-md-4
    .card-group-template
      .signup-div
        = form_for(User.new, as: :user, url: registration_path(:user)) do |f|
          .section-one
            %h1 Create an Agency Account
            %p
              Not and Agency? Continue to
              %span
                =link_to "Bckets", root_path
          .section-two
            = f.email_field :email,  :placeholder => "Email *", :required => true, class: "form-control"
            = f.password_field :password,  :placeholder => "Password *",  :required => true, class: "form-control"
            = f.text_field :agency_name,  :placeholder => "Agency Name *",  :required => true, class: "form-control"
            .row
              .col-md-6
                = f.text_field :phone,  :placeholder => "Phone #1 *",  :required => true, class: "form-control"
              .col-md-6
                = f.text_field :phone_2,  :placeholder => "Phone #2", class: "form-control"
            = f.text_area :about_agency,  :placeholder => "About Your Agency", class: "form-control"
            = f.text_field :location,  :placeholder => "Location", class: "form-control"
            = f.text_field :website,  :placeholder => "Website", class: "form-control"
            = f.hidden_field :role,  value: "agency"
          .section-three
            %button.btn.btn-primary{:type => "submit"} Sign up
            %p
              By signing up, I agree to Bckets’
              %span Terms of Service
        .section-four
          .row
            .col-md-7
              %p Already have an account?
            .col-md-5
              %button.btn.btn-primary Log in
  .col-md-4
