.signup.text-center
  %h4 Welcome back buddy!
  .fb-btn
    = link_to "Log in with Facebook", user_facebook_omniauth_authorize_path, class: "btn"
    %img{:src => image_url("fb.png")}>
  .google-btn
    = link_to "Log in with Google", user_google_oauth2_omniauth_authorize_path, class: "btn"
    %img{:src => image_url("google-icon.png")}>/

  %img.img-responsive.or{:src => image_url("or.png")}/
  = form_for(User.new, as: :user, url: session_path(:user)) do |f|
    = f.email_field :email, :placeholder => "Email Address", :class => "form-control"
    = f.password_field :password, :placeholder => "Password", :class => "form-control"
    .remember
      .float-left
        .checkbox
          %label
            = f.check_box :remember_me
            = f.label :remember_me
      .float-right
      %a{:href => "", :style => "color:#1db2cf"} Forgot Password?
    = f.submit "Log in", :class => "clear-fix btn btn-primary"

  -#.form-group
  -#  %input.form-control{:name => "password", :placeholder => "Password", :type => "password"}/
  -#  .remember
  -#    .float-left
  -#      .checkbox
  -#        %label
  -#          %input{:type => "checkbox", :value => ""}>/
  -#          Remember me
  -#    .float-right
  -#      %a{:href => "", :style => "color:#1db2cf"} Forgot Password?
  -#%button.btn.btn-primary{:type => "submit"} Log in


-#%h2 Log in
-#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#  .field
-#    = f.label :email
-#    %br/
-#    = f.email_field :email, autofocus: true
-#  .field
-#    = f.label :password
-#    %br/
-#    = f.password_field :password, autocomplete: "off"
-#  - if devise_mapping.rememberable?
-#    .field
-#      = f.check_box :remember_me
-#      = f.label :remember_me
-#  .actions
-#    = f.submit "Log in"
-#= render "devise/shared/links"
-#
