/* General
  -------------------------------------------------- */
html,
body {
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 16px;
  background-color: #fff;
}
p {
  line-height: 1.7em;
}
a {
  color: #333;
  outline: 0;
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
  color: #f77f79;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
}
.light-text h1,
.light-text h2,
.light-text h3,
.light-text h4,
.light-text h5,
.light-text h6,
.light-text p {
  color: #fff;
}
/* button,input etc..
  -------------------------------------------------- */
.form-control {
  border-radius: 0px;
  background-color: #fafafa;
  height: 40px;
}
.has-feedback-left .form-control-feedback {
  left: 0;
  top: 5px;
}
.has-feedback-left .form-control {
  padding-left: 34px;
  padding-right: 12px;
}
.btn {
  white-space: normal;
}
.btn-md {
  font-size: 18px;
}
.btn-primary.btn-border {
  border-bottom: 3px solid #159c81!important;
}
.btn-secondary.btn-border {
  border-bottom: 3px solid #db6b65!important;
}
.btn-primary,
.btn-primary:hover {
  box-shadow: none;
  background-color: #20b698;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 0px;
  border: 1px solid #20b698;
  background-image: none;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: transparent;
  border: 1px solid #20b698;
}
.btn-secondary {
  background-color: #f77f79;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 0px;
  border: 1px solid #f77f79;
  background-image: none;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: transparent;
  border: 1px solid #f77f79;
  color: #f77f79;
}
.btn-transparent {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 8px 40px;
}
.btn-transparent:hover,
.btn-transparent:focus {
  background-color: #20b698;
  border: 1px solid #20b698;
  color: #fff;
}
/* Modal
  -------------------------------------------------- */
.modal-content {
  padding: 5px 20px;
  border-radius: 0px;
  border: 1px solid #fff;
}
.modal-banner {
  background-image: url('../../img/modal-header-banner.jpg');
  padding: 5px 20px;
}
.modal-banner h2 {
  font-family: 'Open sans', sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 32px;
  margin-top: 10px;
}
.modal-banner h3 {
  font-family: 'Open sans', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin-top: -5px;
}
/* Helper classes: Spacing & Padding classes
  -------------------------------------------------- */
.banner-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.marginx {
  margin-top: 20px;
  margin-bottom: 20px;
}
.paddingx {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding1x {
  padding-top: 30px;
  padding-bottom: 30px;
}
.padding2x {
  padding-top: 60px;
  padding-bottom: 60px;
}
.padding3x {
  padding-top: 90px;
  padding-bottom: 90px;
}
.padding4x {
  padding-top: 120px;
  padding-bottom: 120px;
}
.padding5x {
  padding-top: 150px;
  padding-bottom: 150px;
}
.padding6x {
  padding-top: 200px;
  padding-bottom: 200px;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0px !important;
}
.no-padding-right {
  padding-right: 0px !important;
}
.padding-top-x {
  padding-top: 20px;
}
.padding-top-1x {
  padding-top: 30px;
}
.padding-top-2x {
  padding-top: 60px;
}
.padding-top-3x {
  padding-top: 90px;
}
.padding-top-4x {
  padding-top: 120px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-bottom-x {
  padding-bottom: 20px;
}
.padding-bottom-1x {
  padding-bottom: 30px;
}
.padding-bottom-2x {
  padding-bottom: 60px;
}
.padding-bottom-3x {
  padding-bottom: 90px;
}
.padding-bottom-4x {
  padding-bottom: 120px;
}
.no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-left-right {
  margin-left: 0px;
  margin-right: 0px;
}
.no-padding-left-right {
  padding-left: 0px;
  padding-right: 0px;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-x {
  margin-bottom: 10px;
}
.margin-bottom-1x {
  margin-bottom: 30px;
}
.margin-bottom-2x {
  margin-bottom: 60px;
}
.margin-top-1px {
  margin-top: 30px;
}
.marginx {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin2x {
  margin-top: 60px;
  margin-bottom: 60px;
}
.margin3x {
  margin-top: 90px;
  margin-bottom: 90px;
}
.margin4x {
  margin-top: 120px;
  margin-bottom: 120px;
}
.align-center {
  margin: 0 auto;
}
.align-right {
  text-align: right;
}
.btn + .btn {
  margin-left: 15px;
}
.first-banner {
  margin-top: 115px;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.light {
  font-weight: 300;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.upper {
  text-transform: uppercase;
}
.wide {
  width: 100%;
}
.clear-fix {
  clear: both;
}
.vertical-align {
  list-style: none;
  padding-left: 0;
}
.vertical-align li {
  display: inline-block;
  padding-right: 10px;
}
.vertical-align li:last-child {
  padding-right: 0;
}
@media (max-width: 1199px) {
  .padding-bottom-lg {
    padding-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .padding-bottom-md {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .padding-bottom-sm {
    padding-bottom: 30px;
  }
}
/* Header
  -------------------------------------------------- */
#mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
#mySidenav .header-nav {
  padding-left: 20px;
}
#mySidenav .header-nav li {
  padding-bottom: 20px;
}
#mySidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#mySidenav a {
  color: #fff;
}
#header.sticky {
  height: 72px;
  background: #333;
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
#header {
  padding-top: 20px;
  height: 80px;
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
#header .hidden-md-up {
  display: block;
}
#header .hamburger {
  text-align: right;
  color: #fff;
  font-size: 25px;
}
#header .header-nav {
  text-align: right;
  display: none;
}
#header .header-nav li {
  display: inline-block;
  padding: 0 10px;
}
#header .header-nav li a {
  color: #fff;
  font-size: 16px;
}
#header .header-nav .signup a {
  color: #20b698;
  font-weight: bold;
}
#header .header-nav .btn-transparent {
  padding: 7px 16px;
}
.modal-login .sub {
  font-size: 12px;
  margin-bottom: 0;
}
.modal-login .sub a {
  color: #1db2cf;
}
.modal-login .needphone {
  font-size: 12px;
}
.modal-login .needphone p {
  color: #1db2cf;
}
.modal-login .terms {
  font-size: 13px;
  padding-top: 10px;
}
.modal-login .terms a {
  color: #1db2cf;
}
.modal-login .btn-primary {
  width: 100%;
  padding: 13px;
  box-shadow: none;
  font-size: 16px;
  text-shadow: none;
}
.modal-login .btn-primary:hover,
.modal-login .btn-primary:focus {
  color: #20b698;
}
.modal-login .form-control {
  border-radius: 0px;
  background-color: #fafafa;
  height: 45px;
  border-color: #ebe9e9;
  box-shadow: none;
}
.modal-login .or {
  padding: 15px 0;
  margin: auto;
}
.modal-login .remember {
  font-size: 14px;
}
.modal-login .remember .float-left,
.modal-login .remember .float-right {
  padding-bottom: 10px;
}
.modal-login .remember .checkbox {
  position: relative;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}
.modal-login .modal-content {
  padding: 15px 25px;
  box-shadow: none;
}
.modal-login .modal-footer {
  padding: 10px 15px;
  text-align: center;
  border-top: none;
  background-color: #ebf2f2;
  box-shadow: none;
}
.modal-login .modal-footer .donthave span {
  font-size: 14px;
  padding-right: 14px;
  font-weight: 600;
}
.modal-login .modal-footer .btn-transparent {
  color: #20b698;
  border: 1px solid #20b698;
  border-radius: 0;
  padding: 8px 20px;
}
.modal-login .modal-footer .btn-transparent:hover,
.modal-login .modal-footer .btn-transparent:focus {
  color: #fff;
  border: 1px solid #20b698;
}
.modal-login .signup h4 {
  font-size: 20px;
  margin-bottom: 15px;
}
.modal-login .signup .fb-btn {
  margin-bottom: 10px;
}
.modal-login .signup .fb-btn a {
  background-color: #39579a;
  padding: 15px 11px 15px 39px;
  color: #fff;
  width: 100%;
  border-radius: 0;
}
.modal-login .signup .fb-btn img {
  float: left;
}
.modal-login .signup .google-btn img {
  float: left;
}
.modal-login .signup .google-btn a {
  background-color: #fff;
  padding: 15px 11px 15px 35px;
  color: #ea4335;
  border-color: #ea4335;
  width: 100%;
  border-radius: 0;
}
.modal-login .signuemail .form-control {
  height: 40px;
}
.modal-login .signuemail .form-group {
  margin-bottom: 10px;
}
/* footer
  -------------------------------------------------- */
#footer {
  background-color: #ebf2f2;
  font-size: 14px;
  padding: 60px 0;
  border-top: 1px solid #ccc;
}
#footer p {
  margin: 0;
}
#footer h4 {
  font-size: 18px;
  color: #20b698;
}
#footer ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
#footer ul li {
  padding-bottom: 10px;
}
#footer ul li a {
  font-size: 14px;
}
.sub-footer {
  background-color: #dae7e7;
  padding: 15px 0;
}
.sub-footer p {
  margin: 0;
  font-size: 12px;
}
/* Modal Category
  -------------------------------------------------- */
#modalCategory .modal-header {
  text-align: center;
  background-image: url(../../img/modal-header-banner.jpg);
  padding: 20px 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  border: none;
}
#modalCategory .modal-header p {
  font-size: 18px;
  margin: 0;
}
#modalCategory .modal-header h2 {
  font-size: 32px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 5px;
}
#modalCategory .modal-content {
  padding: 0;
  border: none;
}
#modalCategory .col-sm-4 {
  padding: 5px!important;
}
#modalCategory .modal-body {
  position: relative;
  padding: 15px 30px!important;
}
#modalCategory .form-control {
  text-align: center;
}
#modalCategory .btn-primary {
  padding: 8px 60px;
  margin-left: 10px;
}
#modalCategory .cat1.selected:after,
#modalCategory .cat2.selected:after,
#modalCategory .cat3.selected:after,
#modalCategory .cat4.selected:after,
#modalCategory .cat5.selected:after,
#modalCategory .cat6.selected:after,
#modalCategory .cat7.selected:after,
#modalCategory .cat8.selected:after,
#modalCategory .cat9.selected:after {
  content: "\f058";
  font-family: FontAwesome;
  position: absolute;
  bottom: 12px;
  right: 20px;
  font-size: 23px;
}
#modalCategory .cat1.selected {
  background-image: linear-gradient(rgba(32, 182, 152, 0.6), rgba(32, 182, 152, 0.6)), url(../../img/cat-1.jpg) !important;
}
#modalCategory .cat2.selected {
  background-image: linear-gradient(rgba(32, 182, 152, 0.6), rgba(32, 182, 152, 0.6)), url(../../img/cat-2.jpg) !important;
}
#modalCategory .cat3.selected {
  background-image: linear-gradient(rgba(32, 182, 152, 0.6), rgba(32, 182, 152, 0.6)), url(../../img/cat-3.jpg) !important;
}
#modalCategory .cat4.selected {
  background-image: linear-gradient(rgba(32, 182, 152, 0.6), rgba(32, 182, 152, 0.6)), url(../../img/cat-4.jpg) !important;
}
#modalCategory .cat5.selected {
  background-image: linear-gradient(rgba(32, 182, 152, 0.6), rgba(32, 182, 152, 0.6)), url(../../img/cat-5.jpg) !important;
}
#modalCategory .cat6.selected {
  background-image: linear-gradient(rgba(32, 182, 152, 0.6), rgba(32, 182, 152, 0.6)), url(../../img/cat-6.jpg) !important;
}
#modalCategory .cat7.selected {
  background-image: linear-gradient(rgba(32, 182, 152, 0.6), rgba(32, 182, 152, 0.6)), url(../../img/cat-7.jpg) !important;
}
#modalCategory .cat8.selected {
  background-image: linear-gradient(rgba(32, 182, 152, 0.6), rgba(32, 182, 152, 0.6)), url(../../img/cat-8.jpg) !important;
}
#modalCategory .cat9.selected {
  background-image: linear-gradient(rgba(32, 182, 152, 0.6), rgba(32, 182, 152, 0.6)), url(../../img/cat-9.jpg) !important;
}
#modalCategory .cat1 {
  background-image: url(../../img/cat-1.jpg);
}
#modalCategory .cat2 {
  background-image: url(../../img/cat-2.jpg);
}
#modalCategory .cat3 {
  background-image: url(../../img/cat-3.jpg);
}
#modalCategory .cat4 {
  background-image: url(../../img/cat-4.jpg);
}
#modalCategory .cat5 {
  background-image: url(../../img/cat-5.jpg);
}
#modalCategory .cat6 {
  background-image: url(../../img/cat-6.jpg);
}
#modalCategory .cat7 {
  background-image: url(../../img/cat-7.jpg);
}
#modalCategory .cat8 {
  background-image: url(../../img/cat-8.jpg);
}
#modalCategory .cat9 {
  background-image: url(../../img/cat-9.jpg);
}
#modalCategory .cat1,
#modalCategory .cat2,
#modalCategory .cat3,
#modalCategory .cat4,
#modalCategory .cat5,
#modalCategory .cat6,
#modalCategory .cat7,
#modalCategory .cat8,
#modalCategory .cat9 {
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center;
  height: 110px;
  text-align: center;
  color: #fff;
  padding-top: 40px;
  cursor: pointer;
}
#modalParticipant .add a img {
  width: 30px;
}
#modalParticipant h4 {
  padding-top: 7px;
}
#modalParticipant h4 span {
  font-weight: bold;
}
#modalParticipant .participants {
  cursor: pointer;
  margin-bottom: 3px;
  background-color: #ebf2f2;
  padding: 10px;
}
#modalParticipant .participants:hover,
#modalParticipant .participants:focus {
  background-color: #5bd784;
}
#modalParticipant .participants p {
  margin: 0;
  font-size: 14px;
}
/* templated 
  -------------------------------------------------- */
.card-template {
  text-align: center;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.card-template .card-image-section {
  background-color: #fff;
  padding: 15px;
}
.card-template .card-image-section .group-date ul {
  padding-left: 0;
  list-style: none;
}
.card-template .card-image-section .group-date ul li {
  float: none;
  position: relative;
  display: inline-block;
  font-size: 14px;
}
.card-template .card-image-section .group-date ul li:first-child {
  padding-right: 10px;
}
.card-template .card-image-section .group-date ul li img {
  padding-right: 5px;
  padding-bottom: 3px;
}
.card-template .card-image-section .card-image {
  height: 140px;
  padding: 10px;
}
.card-template .card-image-section .card-image h4 {
  margin-bottom: 0;
  color: #f39f00;
  font-size: 20px;
  font-weight: bold;
}
.card-template .card-image-section .card-image p {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
.card-template .card-image-section .card-headshot {
  position: relative;
  top: 40px;
}
.card-template .card-image-section .card-headshot ul {
  list-style: none;
  padding-left: 0;
}
.card-template .card-image-section .card-headshot ul .first-head img {
  width: 53px;
  height: 53px;
  margin-right: -16px;
  border-radius: 50%;
}
.card-template .card-image-section .card-headshot ul .last-head img {
  width: 53px;
  height: 53px;
  margin-left: -16px;
  border-radius: 50%;
}
.card-template .card-image-section .card-headshot ul .middle-head {
  z-index: 99;
}
.card-template .card-image-section .card-headshot ul .middle-head img {
  border-radius: 50%;
  width: 69px;
  height: 69px;
}
.card-template .card-image-section .card-headshot ul li {
  float: none;
  position: relative;
  display: inline-block;
}
.card-template .card-image-section .card-title {
  padding-top: 36px;
}
.card-template .card-image-section .card-title h3 {
  font-size: 18px;
  color: #20b698;
  font-weight: 600;
}
.card-template .card-image-section .card-title h4 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.card-template .card-image-section .card-title .date {
  font-size: 14px;
  font-weight: 600;
}
.card-template .card-image-section .card-title .fa-plane {
  padding-right: 5px;
}
.card-template .card-detailed-section {
  background-color: #f8f8f8;
  border-top: 1px solid #ebe9e9;
  padding: 10px;
}
.card-template .card-detailed-section p {
  font-size: 14px;
  color: #333;
  font-weight: 100;
}
.card-template .card-detailed-section h3 {
  font-weight: bold;
  font-size: 16px;
  color: #f77f79;
  margin: 0;
}
.card-template .card-detailed-section .booked {
  color: #2f94e2;
}
.card-group-template {
  text-align: center;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}
.card-group-template .card-image-section {
  background-color: #fff;
  padding: 10px;
}
.card-group-template .card-image-section .group-date ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.card-group-template .card-image-section .group-date ul li {
  float: none;
  position: relative;
  display: inline-block;
  font-size: 14px;
}
.card-group-template .card-image-section .group-date ul li:first-child {
  padding-right: 10px;
}
.card-group-template .card-image-section .group-date ul li img {
  padding-right: 5px;
  padding-bottom: 3px;
}
.card-group-template .card-image-section .card-image {
  height: 190px;
  padding: 10px;
}
.card-group-template .card-image-section .card-image h4 {
  margin-bottom: 0;
  color: #f39f00;
  font-size: 20px;
  font-weight: bold;
}
.card-group-template .card-image-section .card-image p {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
.card-group-template .card-image-section .card-headshot {
  position: relative;
  top: 88px;
}
.card-group-template .card-image-section .card-headshot ul {
  list-style: none;
  padding-left: 0;
}
.card-group-template .card-image-section .card-headshot ul .first-head img {
  width: 53px;
  height: 53px;
  margin-right: -16px;
  border-radius: 50%;
}
.card-group-template .card-image-section .card-headshot ul .last-head img {
  width: 53px;
  height: 53px;
  margin-left: -16px;
  border-radius: 50%;
}
.card-group-template .card-image-section .card-headshot ul .middle-head {
  z-index: 99;
}
.card-group-template .card-image-section .card-headshot ul .middle-head img {
  border-radius: 50%;
  width: 69px;
  height: 69px;
}
.card-group-template .card-image-section .card-headshot ul li {
  float: none;
  position: relative;
  display: inline-block;
}
.card-group-template .card-image-section .card-title {
  padding-top: 36px;
}
.card-group-template .card-image-section .card-title h3 {
  font-size: 18px;
  color: #20b698;
  font-weight: 600;
}
.card-group-template .card-image-section .card-title h4 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.card-group-template .card-image-section .card-title .date {
  font-size: 14px;
  font-weight: 600;
}
.card-group-template .card-image-section .card-title .fa-plane {
  padding-right: 5px;
}
.card-group-template .card-detailed-section {
  background-color: #f8f8f8;
  border-top: 1px solid #ebe9e9;
  padding: 15px ;
}
.card-group-template .card-detailed-section p {
  font-size: 14px;
  color: #333;
  font-weight: 100;
}
.card-group-template .card-detailed-section h3 {
  font-weight: bold;
  font-size: 16px;
  color: #f77f79;
  margin: 0;
}
.card-group-template .card-detailed-section .booked {
  color: #2f94e2;
}
.card-group-template .card-detailed-section .declined {
  color: #f77f79;
}
.group-tour-template .group-tour-header-holder {
  border: 1px solid #ebe9e9;
  background-color: #fafafa;
}
.group-tour-template .group-tour-header-holder .dropdown-menu {
  right: 0;
  left: initial;
  margin-top: 10px;
}
.group-tour-template .group-tour-header-holder .group-tour-subheader {
  background-color: #fafafa;
  padding: 10px 15px;
}
.group-tour-template .group-tour-header-holder .group-tour-subheader ul {
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}
.group-tour-template .group-tour-header-holder .group-tour-subheader ul li {
  display: inline-block;
  vertical-align: middle;
}
.group-tour-template .group-tour-header-holder .group-tour-subheader ul li:first-child,
.group-tour-template .group-tour-header-holder .group-tour-subheader ul li:first-child + li {
  padding-right: 10px;
}
.group-tour-template .group-tour-header-holder .group-tour-subheader .head-img img {
  border-radius: 50%;
  width: 69px;
}
.group-tour-template .group-tour-header-holder .group-tour-subheader .head-img,
.group-tour-template .group-tour-header-holder .group-tour-subheader .name {
  display: inline-block;
  vertical-align: middle;
}
.group-tour-template .group-tour-header-holder .group-tour-subheader .name h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.group-tour-template .group-tour-header-holder .group-tour-subheader .star {
  color: #f1c500;
}
.group-tour-template .group-tour-header-holder .group-tour-header {
  background-color: #20b69a;
  padding: 15px 0px 0;
}
.group-tour-template .group-tour-header-holder .group-tour-header h4 {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}
.group-tour-template .group-tour-header-holder .group-tour-header p {
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}
.group-tour-template .group-tour-header-holder .group-tour-header .who-booked li {
  padding-right: 5px;
}
.group-tour-template .group-tour-header-holder .group-tour-header .who-booked li img {
  width: 35px;
}
.group-tour-template .group-tour-header-holder .group-tour-header .name {
  padding: 0 15px;
}
.group-tour-template .group-tour-header-holder .group-tour-header .slot {
  background-color: #fff;
  border-top: none!important;
  border: 10px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #49b9a4 0%, #1db2cf 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #49b9a4 0%, #1db2cf 100%);
  border-image: linear-gradient(to bottom, #49b9a4 0%, #1db2cf 100%);
  border-image-slice: 1;
  padding: 20px;
}
.group-tour-template .group-tour-header-holder .group-tour-header .slot .plus {
  background-color: #5c6d80;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 9px 3px;
  color: #fff;
  font-size: 12px;
}
.group-tour-template .group-tour-header-holder .group-tour-header .slot .slot-number-holder {
  text-align: center;
}
.group-tour-template .group-tour-header-holder .group-tour-header .slot .slot-number-holder .btn-primary {
  margin-top: 14px;
  font-size: 16px;
  padding: 8px 10px;
}
.group-tour-template .group-tour-header-holder .group-tour-header .slot .slot-number-holder .btn-primary:hover,
.group-tour-template .group-tour-header-holder .group-tour-header .slot .slot-number-holder .btn-primary:focus {
  color: #20b698;
}
.group-tour-template .group-tour-header-holder .group-tour-header .slot .date {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 18px;
}
.group-tour-template .group-tour-header-holder .group-tour-header .slot .date img {
  padding-right: 7px;
  padding-bottom: 3px;
}
.group-tour-template .group-tour-header-holder .group-tour-header .slot .date li:last-child {
  color: #1cacc7;
}
.group-tour-template .group-tour-header-holder .group-tour-header .slot .pax {
  font-size: 30px;
  font-weight: bold;
}
.group-tour-template .group-tour-header-holder .group-tour-header .slot .slot-no {
  font-size: 36px;
  color: #1db2cf;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 10px;
}
.group-tour-template .group-tour-header-holder .group-tour-header .slot .join-tour {
  background-color: #1db2cf;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
.group-tour-template .group-tour-header-holder .group-tour-header .slot .join-tour:hover,
.group-tour-template .group-tour-header-holder .group-tour-header .slot .join-tour:focus {
  background-color: transparent;
  color: #1db2cf;
  border: 1px solid #1db2cf;
}
.group-tour-template .group-tour-header-holder .group-tour-header .slot .slot-left {
  color: #1db2cf;
  font-weight: 600;
}
.group-tour-template .group-tour-body-holder {
  border: 1px solid #ebe9e9;
  background-color: #fafafa;
}
.group-tour-template .group-tour-body-holder .card-image-slider {
  margin: 20px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
}
.group-tour-template .group-tour-body-holder .card-image-slider .item-slide {
  height: 358px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px;
}
.group-tour-template .group-tour-body-holder .card-image-slider .item-slide .name h5 {
  color: #fff;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
}
.group-tour-template .group-tour-body-holder .card-image-slider .item-slide .name h5 i {
  color: #5bd784;
  margin-left: 10px;
}
.group-tour-template .group-tour-body-holder .card-image-slider .item-slide .name .star {
  color: #f1c500;
}
.group-tour-template .group-tour-body-holder .card-image-slider .item-slide .discount {
  font-size: 24px;
  font-weight: bold;
  color: #f39f00;
}
.group-tour-template .group-tour-body-holder .card-image-slider .item-slide .days-left {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.group-tour-template .group-tour-body-holder .card-image-slider .image-slide {
  padding: 7px;
}
.group-tour-template .group-tour-body-holder .card-image-slider .slick-dots li button:before {
  font-family: 'FontAwesome';
  content: "\f111";
  font-size: 15px;
  line-height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 1;
  color: #fff;
}
.group-tour-template .group-tour-body-holder .card-image-slider .slick-dots {
  bottom: 15px;
}
.group-tour-template .group-tour-body-holder .card-image-slider .slick-dots li.slick-active button:before {
  content: "\f192";
  opacity: 1;
  color: #20b698!important;
}
.group-tour-template .group-tour-body-holder .card-image-slider .slick-dotted.slick-slider {
  margin-bottom: 7px;
}
.group-tour-template .group-tour-body-holder .card-image-slider .title {
  padding: 5px 15px 15px;
}
.group-tour-template .group-tour-body-holder .card-image-slider .title .btn-trasparent {
  border: 1px solid #333;
  border-radius: 0;
  font-weight: 600;
}
.group-tour-template .group-tour-body-holder .card-image-slider .title .btn-trasparent:hover,
.group-tour-template .group-tour-body-holder .card-image-slider .title .btn-trasparent:focus {
  background-color: #333;
  color: #fff;
}
.group-tour-template .group-tour-body-holder .card-image-slider .title h4 {
  font-size: 22px;
  margin-bottom: 0;
}
.group-tour-template .group-tour-body-holder .card-image-slider .title .sub {
  color: #1db2cf;
  margin-bottom: 0;
  font-size: 14px;
}
.group-tour-template .group-tour-body-holder .card-image-slider .content {
  font-size: 14px;
  padding: 10px 15px 10px;
  border-top: 2px solid #ebe9e9;
}
.group-tour-template .group-tour-body-holder .card-comment {
  background: #fff;
  border: 1px solid #ebe9e9;
  margin: 10px;
}
.group-tour-template .group-tour-body-holder .card-comment h5 {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
}
.group-tour-template .group-tour-body-holder .card-comment .title {
  padding: 20px;
  border-bottom: 1px solid #ebe9e9;
}
.group-tour-template .group-tour-body-holder .card-comment .title span {
  font-size: 12px;
  border: 1px solid #5bd784;
  color: #20b698;
  padding: 1px 3px;
  margin-left: 10px;
}
.group-tour-template .group-tour-body-holder .card-comment .content {
  padding: 20px;
}
.group-tour-template .group-tour-body-holder .card-comment .content .comment-input {
  margin-bottom: 0;
}
.group-tour-template .group-tour-body-holder .card-comment .content .comment-input li:first-child {
  width: 8%;
}
.group-tour-template .group-tour-body-holder .card-comment .content .comment-input li:last-child {
  width: 91%;
}
.group-tour-template .group-tour-body-holder .card-comment .content .comment {
  margin-bottom: 0;
}
.group-tour-template .group-tour-body-holder .card-comment .content .comment li {
  vertical-align: top;
}
.group-tour-template .group-tour-body-holder .card-comment .content .comment li:first-child {
  width: 8%;
  padding-top: 5px;
}
.group-tour-template .group-tour-body-holder .card-comment .content .comment li:first-child + li {
  width: 83%;
  font-size: 14px;
}
.group-tour-template .group-tour-body-holder .card-comment .content .comment li:first-child + li span {
  color: #1db2cf;
  font-weight: bold;
}
.group-tour-template .group-tour-body-holder .card-comment .content .comment li:first-child + li p {
  margin-bottom: 5px;
}
.group-tour-template .group-tour-body-holder .card-comment .content .comment li:first-child + li a {
  color: #1db2cf;
}
.group-tour-template .group-tour-body-holder .card-comment .content .comment li:last-child {
  width: 7%;
  font-size: 12px;
  padding-top: 5px;
}
.group-tour-template .group-tour-body-holder .card-image-tabs {
  padding: 10px;
  margin: 20px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
}
.group-tour-template .group-tour-body-holder .card-image-tabs .tab-content {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
}
.group-tour-template .group-tour-body-holder .card-image-tabs .tab-content p {
  padding-bottom: 15px;
}
.group-tour-template .group-tour-body-holder .card-image-tabs .tab-content .fa-ul {
  margin-left: 18px;
}
.group-tour-template .group-tour-body-holder .card-image-tabs .tab-content .fa-ul li {
  padding-bottom: 7px;
}
.group-tour-template .group-tour-body-holder .card-image-tabs .tab-content .readmore {
  color: #48bdd5;
}
.group-tour-template .group-tour-body-holder .card-image-tabs .nav-item.active {
  border-bottom: 5px solid #48bdd5;
}
.group-tour-template .group-tour-body-holder .card-image-tabs .nav-item.active a {
  color: #48bdd5;
}
.group-tour-template .group-tour-body-holder .card-image-tabs .nav {
  background-color: #fff;
  border: 1px solid #ebe9e9;
}
.group-tour-template .group-tour-body-holder .card-image-tabs .nav li:first-child,
.group-tour-template .group-tour-body-holder .card-image-tabs .nav li:first-child + li {
  margin-right: -5px;
}
.group-tour-template .group-tour-body-holder .card-image-tabs .nav a {
  font-weight: 600;
  font-size: 12px;
  padding: 10px 0px;
}
.group-tour-template .group-tour-body-holder .card-image-tabs .nav-item {
  text-align: center;
  width: 33.4%;
  display: inline-block;
}
.group-tour-template .group-tour-body-holder .card-image-tabs .nav-item i {
  padding-right: 12px;
  display: none;
}
.group-tour-template .group-tour-body-holder .card-image-tabs .nav-item a:hover,
.group-tour-template .group-tour-body-holder .card-image-tabs .nav-item a:focus {
  color: #48bdd5!important;
}
.group-tour-template .group-tour-body-holder .card-image-tabs h4 {
  font-size: 22px;
}
.group-tour-template .group-tour-body-holder .card-image-tabs h4 i {
  padding-right: 20px;
}
/* Other
  -------------------------------------------------- */
.touch-scroll {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  margin-bottom: 0;
  text-align: center;
}
.touch-scroll ul {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}
.touch-scroll ul li {
  display: inline-block;
  float: none;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}
.section-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

#agencyProfileHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), image("agency-banner.jpg");
    padding: 60px 0px 0px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.8);
}
