/* Min
  -------------------------------------------------- */
@media (min-width: 481px) {
  #agencyProfileBody .agency-profile-tab a {
    margin-bottom: 0px;
    width: inherit;
  }
  .group-tour-header .slot .slot-no {
    font-size: 50px!important;
  }
  .group-tour-template .group-tour-body-holder .card-image-tabs .nav-item i {
    display: initial;
  }
  .group-tour-template .group-tour-body-holder .card-image-tabs .nav a {
    font-size: 16px;
  }
}
@media (min-width: 621px) {
  #agencyProfileBody .agency-profile-tab .br {
    margin-left: -5px;
  }
  #agencyProfileBody .agency-profile-tab a {
    display: initial;
    padding: 10px 28px;
  }
  #agencyProfileBody .agency-profile-tab {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  #agencyProfileHeader {
    padding: 90px 0px 0px;
  }
  #agencyProfileHeader img {
    margin-bottom: 0px;
    width: initial;
    height: initial;
  }
  #agencyProfileHeader .name h1 {
    font-size: 36px;
  }
  #agencyProfileHeader .name {
    top: 30px;
  }
  #agencyProfileHeader img {
    margin-bottom: -42px;
  }
  #modalCategory .modal-dialog {
    width: 636px;
  }
  .group-tour-template .group-tour-body-holder .card-image-slider .item-slide .discount {
    font-size: 30px;
  }
  .group-tour-template .group-tour-header-holder .group-tour-header .who-booked li img {
    width: 46px;
  }
  .group-tour-template .group-tour-header-holder .group-tour-header .slot .plus {
    width: 46px;
    height: 46px;
    padding: 12px 10px;
    font-size: 16px;
  }
  .group-tour-header .slot .slot-number-holder {
    float: right;
  }
  .group-tour-template .group-tour-subheader ul {
    padding-top: 15px;
  }
  .group-tour-template .group-tour-subheader ul li:first-child,
  .group-tour-template .group-tour-subheader ul li:first-child + li {
    padding-right: 15px;
  }
  .modal-login .signup h4 {
    font-size: 24px;
  }
  .modal-sm {
    width: 370px;
  }
  .search-main .form-control {
    height: 55px;
  }
  .search-main .destinations {
    width: 32%;
    float: left;
  }
  .search-main .date {
    width: 24%;
    float: left;
  }
  .search-main .category {
    width: 27%;
    float: left;
  }
  .search-main .btn-search-holder {
    width: 14%;
    float: left!important;
  }
  .search-main .btn-search-holder .btn {
    padding: 16px 40px;
    height: 55px;
  }
  .search-main .has-feedback-left .form-control-feedback {
    left: 0;
    top: 10px!important;
  }
  #homeMain .title h1 {
    font-size: 72px;
  }
  #homeMain .title h2 {
    font-size: 52px;
  }
}
@media (min-width: 992px) {
  #agencyProfileHeader .name {
    top: 60px;
  }
  .hidden-md-up {
    display: none!important;
  }
  .header-nav {
    display: block!important;
  }
  #homeCtaBanner h1 {
    margin-top: 110px;
  }
  #footer ul {
    display: inline-block;
    vertical-align: top;
  }
  #footer .first {
    margin-right: 80px;
  }
  #seekShare h1,
  #home-cta h1,
  #homeCtaBanner h1 {
    font-size: 44px;
  }
}
/* Max
  -------------------------------------------------- */
@media (max-width: 1199px) {
  #agencyProfileHeaderNav .get-more .btn-public-white {
    display: block;
  }
  #agencyProfileHeaderNav .get-more .btn + .btn {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  #agencyProfileHeaderNav .get-more .btn + .btn {
    margin-left: 7px;
    margin-bottom: 0;
  }
  #agencyProfileHeaderNav .get-more .btn-public-white {
    display: initial;
  }
  #agencyProfileHeaderNav ul li:first-child {
    margin-left: 0px;
  }
  .group-tour-template .group-tour-body-holder .card-image-slider .title .btn-trasparent {
    font-size: 14px;
    padding: 7px 15px;
  }
  #agencyProfileHeaderNav ul li {
    margin-left: 25px;
  }
  #agencyProfileHeader .name h1 span {
    margin-top: 10px;
    width: 100%;
    display: block;
    margin-left: 0px;
  }
}
@media (max-width: 620px) {
  .head-img {
    display: none!important;
  }
  .group-tour-template .group-tour-body-holder .card-comment .content .comment-input li:first-child {
    width: 19%;
  }
  .group-tour-template .group-tour-body-holder .card-comment .content .comment-input li:last-child {
    width: 79%;
  }
  .group-tour-template .group-tour-body-holder .card-comment .content .comment li:first-child {
    width: 17%;
    padding-top: 5px;
  }
  .group-tour-template .group-tour-body-holder .card-comment .content .comment li:first-child + li {
    width: 81%;
    font-size: 14px;
  }
  .group-tour-template .group-tour-body-holder .card-comment .content .comment li:last-child {
    width: 100%;
    font-size: 12px;
    padding-top: 5px;
    text-align: right;
  }
  .group-tour-template .group-tour-body-holder .card-image-slider .item-slide .name h5 {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .group-tour-template .group-tour-header-holder .group-tour-header .slot .pax {
    font-size: 26px;
  }
  .group-tour-template .group-tour-body-holder .card-image-slider .item-slide {
    height: 280px;
  }
  .group-tour-template .group-tour-header-holder .group-tour-header .slot .date {
    font-size: 12px;
  }
}
