%section#agencyProfileHeader.banner-image.light-text
  .container
    .row
      .col-sm-3
        .profile-pic
          %img.img-responsive{:src => asset_path("agency-profile.jpg")}
        .col-sm-9
          .name
            %h1
              VCP Travel House
              %span.verified
                %i.fa.fa-check-circle{"aria-hidden" => "true"}>
                Verified
            %ul.vertical-align
              %li
                .star
                  %i.fa.fa-star{"aria-hidden" => "true"}
                  %i.fa.fa-star{"aria-hidden" => "true"}
                  %i.fa.fa-star{"aria-hidden" => "true"}
                  %i.fa.fa-star{"aria-hidden" => "true"}
                  %i.fa.fa-star{"aria-hidden" => "true"}
              %li
                %a{:href => ""}
                  %span 100+
                  Reviews
  %section#agencyProfileHeaderNav
    .container
      .row
        .col-sm-3
          .get-more
            %a.btn.btn-white{:href => ""} Get More Bookings
        .col-sm-9
          .touch-scroll
            %ul
              %li
                %a{:href => ""}
                  %h2 10
                  %p Tour Packages
              %li.active
                %a{:href => ""}
                  %h2 15
                  %p Group Tours
              %li
                %a{:href => ""}
                  %h2 5
                  %p Bckets
              %li.nav-item
                %a{:href => ""}
                  %h2 1000+
                  %p Followers
  %section#agencyProfileBody
    .container
      .row.padding-bottom-1x
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
          .agency-profile-tab
            %a{:href => ""} My Group Tours
            %a{:href => ""} Public Group Tours
            %a.active.br{:href => ""} Booking Requests (20)
          .agency-profile-search
            .form-group
              %input.form-control{:name => "search", :placeholder => "Search Traveller or Tour Title  ", :type => "text"}
            .agency-profile-tab-nav
              .touch-scroll
                %ul.nav.nav-pills{:role => "tablist"}
                  %li.nav-item.active
                    %a.nav-link{"data-toggle" => "tab", :href => "#all", :role => "tab"} All
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#pendingApproval", :role => "tab"} Peding Approval
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#approved", :role => "tab"} Approved
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#declined", :role => "tab"} Declined
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#cancelled", :role => "tab"} Cancelled
        .row.tab-content
          #all.tab-pane.active{:role => "tabpanel"}
            .col-md-4.col-sm-6.padding-bottom-1x
              .card-group-template
                .card-image-section
                  .card-image.banner-image{:style => "background-image: url(../img/placeholder-card2.jpg);"}
                    .align-right
                      %h4 75% OFF
                      %p 3 days left to book
                    .card-headshot
                      %ul
                        %li.first-head
                          %img{:src => "../img/headshot3.png"}/
                          %li.middle-head
                            %img{:src => "../img/headshot1.png"}/
                            %li.last-head
                              %img{:src => "../img/headshot2.png"}/
                        .card-title
                          %h4 Joyce Pring  Barkada Tour
                          %h3 3D2N Batanes
                          .group-date
                            %ul
                              %li
                                %img{:src => "../img/plane-icon.png"} Oct. 31, 2016
                                %li
                                  %img{:src => "../img/group-icon.png"} Group Tour
                          .card-detailed-section
                            %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida.
                            %h3.booked
                              %span.slot 10
                              participants - BOOKED
                      .col-md-4.col-sm-6.padding-bottom-1x
                        .card-group-template
                          .card-image-section
                            .card-image.banner-image{:style => "background-image: url(../img/placeholder-card2.jpg);"}
                              .align-right
                                %h4 75% OFF
                                %p 3 days left to book
                              .card-headshot
                                %ul
                                  %li.first-head
                                    %img{:src => "../img/headshot3.png"}/
                                    %li.middle-head
                                      %img{:src => "../img/headshot1.png"}/
                                      %li.last-head
                                        %img{:src => "../img/headshot2.png"}/
                                  .card-title
                                    %h4 Joyce Pring  Barkada Tour
                                    %h3 3D2N Batanes
                                    .group-date
                                      %ul
                                        %li
                                          %img{:src => "../img/plane-icon.png"} Oct. 31, 2016
                                          %li
                                            %img{:src => "../img/group-icon.png"} Group Tour
                                    .card-detailed-section
                                      %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida.
                                      %h3.declined
                                        %span.slot 8
                                        participants - DECLINED
                                .col-md-4.col-sm-6.padding-bottom-1x
                                  .card-group-template
                                    .card-image-section
                                      .card-image.banner-image{:style => "background-image: url(../img/placeholder-card2.jpg);"}
                                        .align-right
                                          %h4 75% OFF
                                          %p 3 days left to book
                                        .card-headshot
                                          %ul
                                            %li.first-head
                                              %img{:src => "../img/headshot3.png"}/
                                              %li.middle-head
                                                %img{:src => "../img/headshot1.png"}/
                                                %li.last-head
                                                  %img{:src => "../img/headshot2.png"}/
                                            .card-title
                                              %h4 Joyce Pring  Barkada Tour
                                              %h3 3D2N Batanes
                                              .group-date
                                                %ul
                                                  %li
                                                    %img{:src => "../img/plane-icon.png"} Oct. 31, 2016
                                                    %li
                                                      %img{:src => "../img/group-icon.png"} Group Tour
                                              .card-detailed-section
                                                %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida.
                                                %h3.booked
                                                  %span.slot 10
                                                  participants - BOOKED
                                        #pendingApproval.tab-pane{:role => "tabpanel"}
                                        #approved.tab-pane{:role => "tabpanel"}
                                        #declined.tab-pane{:role => "tabpanel"}
                                        #cancelled.tab-pane{:role => "tabpanel"}
                                  .chat-circle-holder
                                    .chat-circle
                                      %span 5
                                      %img{:src => "../img/chat-icon.png"}
                                    .msg-list-holder{:style => "display: none;"}
                                      .close-chat
                                        %img{:src => "../img/close-chat.png"}/
                                        .msg-list
                                          .header
                                            .inbox
                                              %a{:href => ""}
                                                Inbox
                                                %span (7)
                                            .Compose
                                              %a{:href => ""}
                                                %i.fa.fa-plus-circle{"aria-hidden" => "true"}
                                                Compose
                                          .search
                                            .form-group.has-feedback.has-feedback-left.no-margin-bottom
                                              %input.form-control{:placeholder => "Search messages", :type => "text", :value => ""}
                                                %i.form-control-feedback.fa.fa-search{"aria-hidden" => "true"}
                                            .body
                                              %ul
                                                %li.unread
                                                  .profile-pic
                                                    %img{:src => "../img/chat-head1.png"}/
                                                    .name
                                                      %div Karylle
                                                      .subject Excepteur sint occaecat
                                                    .date 12:00
                                                  %li
                                                    .profile-pic
                                                      %img{:src => "../img/chat-head1.png"}/
                                                      .name
                                                        %div Yassi
                                                        .subject Excepteur sint occaecat
                                                      .date 12:00
                                                    %li
                                                      .profile-pic
                                                        %img{:src => "../img/chat-head1.png"}/
                                                        .name
                                                          %div Yassi
                                                          .subject Excepteur sint occaecat
                                                        .date 12:00
                                                      %li
                                                        .profile-pic
                                                          %img{:src => "../img/chat-head1.png"}/
                                                          .name
                                                            %div Yassi
                                                            .subject Excepteur sint occaecat
                                                          .date 12:00
                                                    .footer
                                                      %a{:href => ""} see more messages
                                                .msg-private-holder{:style => "display: none;"}
                                                  .close-chat
                                                    %img{:src => "../img/close-chat.png"}/
                                                    .msg-private
                                                      .header-sub
                                                        %i.fa.fa-angle-left{"aria-hidden" => "true"}>
                                                        Chat Messages
                                                      .header
                                                        .profile-pic
                                                          %img{:src => "../img/chat-head1.png"}/
                                                          .name Karylle Padilla
                                                          .menu
                                                            %img{:src => "../img/elipsis-icon-white.png"}/
                                                          .body
                                                            .received
                                                              .img
                                                                %img{:src => "../img/chat-head1.png"}/
                                                                .msg-holder
                                                                  .title Karylle
                                                                  .msg
                                                                    .bubble Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lae et dolore magna aliqua.
                                                                    .date Dec. 2 2016 | 7:05 PM
                                                              .reply
                                                                .msg-holder
                                                                  .msg
                                                                    .bubble Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lae et dolore magna aliqua.
                                                                    .date Dec. 2 2016 | 7:05 PM
                                                                .img
                                                                  %img{:src => "../img/chat-head3.png"}/
                                                              .footer
                                                                %input{:name => "msg", :placeholder => "Type Your Message Here", :type => "text"}
                                                            %footer
                                                              #footer
                                                                .container
                                                                  .row
                                                                    .col-md-4.padding-bottom-md
                                                                      %img.padding-bottom-x{:src => "../img/footer-logo.png"}
                                                                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce malesuada sem ut ullamcorper porttitor.
                                                                      .col-md-3.padding-bottom-md
                                                                        %h4 Community
                                                                        %ul.first
                                                                          %li
                                                                            %a{:href => ""} Facebook
                                                                          %li
                                                                            %a{:href => ""} Pinterest
                                                                          %li
                                                                            %a{:href => ""} Twitter
                                                                        %ul
                                                                          %li
                                                                            %a{:href => ""} YouTube
                                                                          %li
                                                                            %a{:href => ""} Instagram
                                                                      .col-md-5
                                                                        %h4 Company
                                                                        %ul.first
                                                                          %li
                                                                            %a{:href => ""} Bckets for business
                                                                          %li
                                                                            %a{:href => ""} Help Center
                                                                          %li
                                                                            %a{:href => ""} Our blog
                                                                        %ul
                                                                          %li
                                                                            %a{:href => ""} Copyright and trademark
                                                                          %li
                                                                            %a{:href => ""} Terms and privacy
                                                                .sub-footer.text-center
                                                                  .container
                                                                    .row
                                                                      .col-md-12
                                                                        %p &#xA9;2016 Bckets. All rights reserved.
