!!! 5

!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="">
/[if IE 8] <html class="no-js lt-ie9" lang="">
/ [if gt IE 8]><!
%html.no-js{:lang => ""}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title Bckets
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i", :rel => "stylesheet"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", :rel => "stylesheet"}/

    = stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track' => true
    -#%link{:href => "../css/dist/home.css", :rel => "stylesheet"}/
    -#%link{:href => "../css/dist/generalize.css", :rel => "stylesheet"}/
    -#%link{:href => "../css/dist/responsive.css", :rel => "stylesheet"}/
    -#%script{:src => "../js/vendor/jquery-1.11.2.min.js"}
    -#%script{:src => "../js/vendor/bootstrap.min.js"}
    -#%script{:src => "../js/bootstrap-datepicker.js"}
    -#%script{:src => "../js/main.js"}
    -#%script{:src => "../js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"}
  %body
    #mySidenav
      %ul.header-nav
        %a.closebtn{:href => "javascript:void(0)"} ×
        %li
          =link_to "Post Your Packages", new_agency_path, {:class => "btn btn-transparent btn-sm"}
          -#%a.btn.btn-transparent.btn-sm{:href => ""} Post Your Packages
        %li
          %a{:href => ""} What is Bckets?
        %li
          %a{:href => ""} Discover
        - if user_signed_in?
          %li
            %a.mobile-login{"data-target" => "#modal-loginID", "data-toggle" => "modal", :href => "javascript:void(0)", :type => "button"} Logout
        - else
          %li
            %a.mobile-login{"data-target" => "#modal-loginID", "data-toggle" => "modal", :href => "javascript:void(0)", :type => "button"} Login
          %li.signup
            %a.mobile-login{"data-target" => "#modal-signupID", "data-toggle" => "modal", :href => "", :type => "button"} Sign up!

    %header#header.navbar-fixed-top
      .container
        .row
          .col-xs-3
            %a{:href => "/"}
              %img{:src => image_url("header-logo.png")}/
          .col-xs-9
            .hidden-md-up
              .hamburger
                %i.fa.fa-bars{"aria-hidden" => "true"}
            %ul.header-nav
              %li
                =link_to "Post Your Packages", new_agency_path, {:class => "btn btn-transparent btn-sm"}
                -#%a.btn.btn-transparent.btn-sm{:href => ""} Post Your Packages
              %li
                %a{:href => ""} What is Bckets?
              %li
                %a{:href => ""} Discover
              - if user_signed_in?
                %li
                  = link_to('Logout', destroy_user_session_path, :method => :delete)
                %li.signup
                  %a{:href => ""} Hi, #{current_user.first_name || current_user.agency_name}
                  = hidden_field :current_user, :role, :value => current_user.role
              - else
                %li
                  %a{"data-target" => "#modal-loginID", "data-toggle" => "modal", :href => "", :type => "button"} Login
                %li.signup
                  %a{"data-target" => "#modal-signupID", "data-toggle" => "modal", :href => "", :type => "button"} Sign up!
    %section#homeMain.banner-image.light-text
      .container
        .row
          .col-md-10.col-md-offset-1
            .title
              %h1 Start packing.
              %h2 You’re coming with us!
            .search-main
              .destinations
                .form-group
                  %input.form-control{:placeholder => "Enter Your Destination Here", :type => "text", :value => ""}/
              .date
                .form-group.has-feedback.has-feedback-left
                  %input.form-control{"data-provide" => "datepicker", :placeholder => "Travel Date", :type => "text", :value => ""}/
                  %i.form-control-feedback.fa.fa-calendar{"aria-hidden" => "true"}
              .category
                .form-group.has-feedback.has-feedback-left
                  %input.form-control{:placeholder => "All Categories", :type => "text", :value => ""}/
                  %i.form-control-feedback.fa.fa-suitcase{"aria-hidden" => "true"}
                  %i.form-control-feedback.fa.fa-sort-desc{"aria-hidden" => "true"}
              .btn-search-holder
                %a.btn.btn-primary{:href => ""} Search
            .clear-fix
            .photo-by
              Photo by: Robby Bautista
              %span |
              %a{:href => ""} Submit your travel photos
    %section#seekShare.padding2x
      .container.text-center
        .row
          .col-md-12
            %h1 Seek. Share. Travel Together.
            %p.sub An exciting community is waiting for you to grab your bag.
            %p.light.margin-bottom-1x We are a community of travel enthusiast aiming to cross off all of our dream destinations on our list. Have a grand time touring stunning destinations with every swipe, and enjoy exploring them with fellow travel enthusiasts. Bckets gives you the opportunity to meet like-minded individuals and book tours with them.
            %a.btn.btn-secondary.btn.border.upper.btn-md{"data-dismiss" => "modal", "data-target" => "#modal-signupID", "data-toggle" => "modal", :href => "", :type => "button"} Sign up and be our newest travel buddy
        %hr/
        .row
          .col-md-4
            %img.img-responsive{:src => image_url("blog-place-holder-image1.jpg")}/
            %h3 Meet New Friends
            %p Start a group tour and invite people
          .col-md-4
            %img.img-responsive{:src => image_url("blog-place-holder-image2.jpg")}/
            %h3 Find The Cheapest Travel Deals
            %p Search by location, date and category
          .col-md-4
            %img.img-responsive{:src => image_url("blog-place-holder-image3.jpg")}/
            %h3 Create a Bcket List
            %p Share your list and cross them off together
    %section#homeCtaBanner.banner-image.light-text
      .container
        .row.text-center
          .col-lg-6.padding-bottom-lg
            %h1 Never been to Batanes?
            %p.sub The others are going! Join them now!
            %a.btn.btn-primary.btn-md.btn-border.upper{:href => ""} explore other destinations
          .col-lg-6
            .row
              .col-sm-6.padding-bottom-md
                .card-template
                  .card-image-section
                    .card-image.banner-image{:style => "background-image: image-url(\"placeholder-card1.jpg\");"}
                      .align-right
                        %h4 75% OFF
                        %p 3 days left to book
                      .card-headshot
                        %ul
                          %li.first-head
                            %img{:src => image_url("headshot3.png")}/
                          %li.middle-head
                            %img{:src => image_url("headshot1.png")}/
                          %li.last-head
                            %img{:src => image_url("headshot2.png")}/
                    .card-title
                      %h3 3D2N Batanes
                      %h4 Joyce Pring & Barkada Tour
                      .date
                        %i.fa.fa-plane{"aria-hidden" => "true"}>
                        Oct. 31, 2016
                  .card-detailed-section
                    %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida.
                    %h3
                      %span.slot 8
                      of 10  Slots Left
              .col-sm-6
                .card-template
                  .card-image-section
                    .card-image.banner-image{:style => "background-image: image-url(                                                                                                                                                                                                                                                  \"placeholder-card1.jpg\");"}
                      .align-right
                        %h4 75% OFF
                        %p 3 days left to book
                      .card-headshot
                        %ul
                          %li.first-head
                            %img{:src => image_url("headshot3.png")}/
                          %li.middle-head
                            %img{:src => image_url("headshot1.png")}/
                          %li.last-head
                            %img{:src => image_url("headshot2.png")}/
                    .card-title
                      %h3 3D2N Batanes
                      %h4 Joyce Pring & Barkada Tour
                      .date
                        %i.fa.fa-plane{"aria-hidden" => "true"}>
                        Oct. 31, 2016
                  .card-detailed-section
                    %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida.
                    %h3
                      %span.slot 8
                      of 10  Slots Left
    %section#home-cta.padding2x.banner-image.light-text
      .container.text-center
        .row
          .col-md-10.col-md-offset-1
            %h1 Start Posting Your Travel Packages for Free!
            %p.sub Stay head of the pack! Be one of our first batch of travel agencies and operators.
            = link_to 'START POSTING like gaga!', new_agency_path, {:class => "btn btn-transparent btn-md upper marginx"}
            %p Why use Bckets instead of Facebook?
    %footer
      #footer
        .container
          .row
            .col-md-4.padding-bottom-md
              %img.padding-bottom-x{:src => image_url("footer-logo.png")}/
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce malesuada sem ut ullamcorper porttitor.
            .col-md-3.padding-bottom-md
              %h4 Community
              %ul.first
                %li
                  %a{:href => ""} Facebook
                %li
                  %a{:href => ""} Pinterest
                %li
                  %a{:href => ""} Twitter
              %ul
                %li
                  %a{:href => ""} YouTube
                %li
                  %a{:href => ""} Instagram
            .col-md-5
              %h4 Company
              %ul.first
                %li
                  %a{:href => ""} Bckets for business
                %li
                  %a{:href => ""} Help Center
                %li
                  %a{:href => ""} Our blog
              %ul
                %li
                  %a{:href => ""} Copyright and trademark
                %li
                  %a{:href => ""} Terms and privacy
      .sub-footer.text-center
        .container
          .row
            .col-md-12
              %p ©2016 Bckets. All rights reserved.
    #modal-loginID.modal.fade.modal-login{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-sm
        .modal-content
          =render "devise/sessions/new_form"
        .modal-footer
          .donthave
            %span Don’t have an account?
            %a.btn.btn-transparent{"data-dismiss" => "modal", "data-target" => "#modal-signupID", "data-toggle" => "modal", :href => "", :type => "button"} Sign up
    #modal-signupID.modal.fade.modal-login{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-sm
        .modal-content
          .signup.text-center
            %h4 We're excited to meet you!
            .fb-btn
              = link_to "Sign up with Facebook", user_facebook_omniauth_authorize_path,class: "btn"
              %img{:src => image_url("fb.png")}>/
              -#
              -#  %img{:src => image_url("fb.png")}>/
              -#  Sign up with Facebooks
            .google-btn
              = link_to "Sign up with Google", user_google_oauth2_omniauth_authorize_path,class: "btn"
              %img{:src => image_url("google-icon.png")}>/
            %img.img-responsive.or{:src => image_url("or.png")}/
            %button.btn.btn-primary{"data-dismiss" => "modal", "data-target" => "#modal-signupemailID", "data-toggle" => "modal", :type => "button"} Sign up with email
            .terms
              By signing up, I agree to Bckets’
              %span
                %a{:href => ""} Terms of Service
        .modal-footer
          .donthave
            %span Already have an account?
            %a.btn.btn-transparent{"data-dismiss" => "modal", "data-target" => "#modal-loginID", "data-toggle" => "modal", :href => "", :type => "button"} Log in
    #modal-signupemailID.modal.fade.modal-login{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-sm
        .modal-content
          =render "devise/registrations/new_form"
        .modal-footer
          .donthave
            %span Already have an account?
            %a.btn.btn-transparent{"data-dismiss" => "modal", "data-target" => "#modal-loginID", "data-toggle" => "modal", :href => "", :type => "button"} Log in
    = insert_paloma_hook
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
-#%html{:lang => "en"}
-#  %head
-#    %meta{:charset => "utf-8"}/
-#    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
-#    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
-#    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
-#    %meta{:content => "", :name => "description"}/
-#    %meta{:content => "", :name => "author"}/
-#    %link{:href => "https://fonts.googleapis.com/css?family=Muli", :rel => "stylesheet"}/
-#    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
-#    %link{:href => "../../favicon.ico", :rel => "icon"}/
-#    %title
-#      = "Bckets"
-#    = stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track' => true
-#    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
-#    /[if lt IE 9]
-#    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
-#    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
-#
-#  %body.landing
-#    %div
-#      = yield
-#    / /container
-#    / IE10 viewport hack for Surface/desktop Windows 8 bug
-#    = javascript_include_tag 'landing', 'data-turbolinks-track' => true
